.button {
    background: #287efd;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1em;
    cursor: pointer;
}

.button img {
    width: 15px;
}

.button button {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
